// Place all the styles related to the Counselors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.coun-thumb {
    margin: 10px;
    overflow: visible;
}

.coun-thumb figure img {
    width: 98%;
    height: 98%;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin: 0;
}

.counselors-box {
    font-size: small;
    color: gray;
}
        
